@import "lostfound.css";

.logo{
    width: 340px;
    margin: 35px auto 40px;
}

.login-info{
    max-width: 500px;
    padding-bottom: 268px;
    margin: auto;
}

.login-input{
    padding: 30px;
}

.align-pass{
    margin: 0px 16px 0px 61px;
}
