.umass:hover{
    cursor:pointer;
}

.icon{
    width: 25px;
}

.icon:hover{
    cursor: pointer;
}

.second-nav{
    color: white;
    margin: 0px 8px;
    font-size: 18px;
}

.sign-in{
    color:white;
    margin-right: 20px;
}

.sign-in:hover{
    color:grey;
    cursor: pointer;
}