.umass:hover {
    cursor:pointer;
}

.navSize {
    padding-top: 10px;
    padding-bottom: 10px;
}

.icon {
    width: 25px;
}

.icon:hover {
    cursor: pointer;
}

.second-nav {
    color: white;
    margin: 0px 8px;
    font-size: 18px;
}

.hidden {
    display: none;
}

.sign-in {
    color:white;
    margin-right: 20px;
}

.sign-in:hover {
    color:grey;
    cursor: pointer;
}

.loginName{
    color: white;
    margin-right: 30px; 
}