@import "lostfound.css";

.extraSpace {
    height: 30px;
}

.mt-0 {
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.comment {
    margin-bottom: 80px;
}

.inputComment {
    width: 1190px;
}

/* .item-img {
    max-height: 400px;
    max-width: 400px;
} */