@import "lostfound.css";

.column-layout{
    margin: 0px auto 30px
}

.submitLost-info{
    margin: 20px 20px 38px 20px;
}

.submitLost-input{
    height: 580px;
    padding: 40px;
    font-weight: bold;
    font-size: 20px;
    background-color:lightblue;
}

/* .submitLost-img-info{
    margin: 150px 60px;
} */
.submitLost-img{
    height: 300px;
    padding: 50px;
    font-weight: bold;
    font-size: 20px;
    background-color:grey;
}

.atitle{
    margin: 0px 16px 0px 104px;
}

.acategory{
    margin: 0px 16px 0px 58px;
}

.abrand{
    margin: 0px 16px 0px 89px;
}

.acolor{
    margin: 0px 16px 0px 94px;
}

.ad{
    margin: 0px 16px 0px 56px;
}

.at{
    margin: 0px 16px 0px 54px;
}

.awy{
    margin: 0px 16px 0px 0px;
}

.aai{
    margin: 0px 16px 0px 10px;
}

.btn-submit{
    margin-top: 35px;
}
