@import "lostfound.css";

.column-layout{
    margin: 0px auto 30px
}

.submitLost-info{
    margin: 29px 20px;
}

.submitLost-input{
    height: 580px;
    padding: 40px;
    font-weight: bold;
    font-size: 20px;
    background-color:lightblue;
}

.submitLost-img{
    height: 300px;
    padding: 50px;
    font-weight: bold;
    font-size: 20px;
    background-color:grey;
}

.atitle{
    margin: 0px 16px 0px 106px;
}

.acategory{
    margin: 0px 16px 0px 60px;
}

.abrand{
    margin: 0px 16px 0px 102px;
}

.acolor{
    margin: 0px 16px 0px 107px;
}

.ad{
    margin: 0px 16px 0px 59px;
}

.at{
    margin: 0px 16px 0px 56px;
}

.awy{
    margin: 0px 16px 0px 0px;
}

.aai{
    margin: 0px 16px 0px 19px;
}

.btn-submit{
    margin-top: 35px;
}
